body{
    background-color:tan
    
}
.BOXES{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}
.box{
    width: 100px;
    height: 100px;

}
#box1{
    background-color: rgb(72, 32, 32);
}
#box1.lit{
    background-color: rgb(255, 0, 0);
}
#box2{
    background-color: rgb(25, 25, 85);
}
#box2.lit{
    background-color: rgb(0, 0, 255);
}
#box3{
    background-color: rgb(32, 65, 32);
}
#box3.lit{
    background-color: rgb(0, 255, 0);
}
#box4{
    background-color: rgb(81, 81, 33);
}
#box4.lit{
    background-color: rgb(255, 255, 0);
}

.hide{
    display: none;
}
